<center>
  <ul class="pages">
    
    {% for item in site.data.navigation %}
    
    {% if item.link == page.url and item.nav_cat == page.nav_cat %}
    <li><strong>{{ item.name }}</strong></li>
    {% elsif item.link != page.url and item.nav_cat == page.nav_cat %}
    <li><strong><a href="{{ item.link }}">{{ item.name }}</a></strong></li>
    {% else %}
    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endif %}
    
    {% endfor %}
  </ul>
  
  {% if page.parent %}
  <p><a href="../">← {{ page.parent }}</a></p>
  {% endif %}
</center>