@charset "utf-8";

// Color scheme settings

$lm-heading-color:         #111111 !default;
$lm-code-background-color: #f6f8fa !default;

$lm-brand-color:           #818181 !default;
$lm-brand-color-light:     lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dimmed:    darken($lm-brand-color, 11%) !default;
$lm-brand-color-dark:      darken($lm-brand-color, 25%) !default;

$lm-border-color-01:       $lm-brand-color-light !default;
$lm-border-color-02:       lighten($lm-brand-color, 35%) !default;
$lm-border-color-03:       $lm-brand-color-dark !default;


@mixin lm-highlight {
  .highlight {
    .err   { color: #e3d2d2; background-color: #a61717 } // Error

    .c     { color: #9c9996 } // Comment
    .cm    { color: #9c9996 } // Comment.Multiline
    .cp    { color: #9c9996 } // Comment.Preproc
    .c1    { color: #9c9996 } // Comment.Single
    .cs    { color: #9c9996; font-style: italic } // Comment.Special

    .gd    { color: #e25050 } // Generic.Deleted
    .gd .x { color: #e25050 } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gh    { color: #999999 } // Generic.Heading
    .gi    { color: #3f993f } // Generic.Inserted
    .gi .x { color: #3f993f } // Generic.Inserted.Specific
    .go    { color: #888888 } // Generic.Output
    .gp    { color: #555555 } // Generic.Prompt
    .gr    { color: #aa0000 } // Generic.Error
    .gs    { font-weight: bold } // Generic.Strong
    .gt    { color: #aa0000 } // Generic.Traceback
    .gu    { color: #aaaaaa } // Generic.Subheading

    .k     { color: #cf222e } // Keyword
    .kc    { color: #cf222e } // Keyword.Constant
    .kd    { color: #cf222e } // Keyword.Declaration
    .kp    { color: #cf222e } // Keyword.Pseudo
    .kr    { color: #cf222e } // Keyword.Reserved
    .kt    { color: #445588 } // Keyword.Type

    .n     { color: #111111 }
    .na    { color: #097e39 } // Name.Attribute
    .nb    { color: #cf222e } // Name.Builtin
    .bp    { color: #999999 } // Name.Builtin.Pseudo
    .nc    { color: #097e39 } // Name.Class
    .ne    { color: #990000 } // Name.Exception
    .nf    { color: #2c7d74 } // Name.Function
    .ni    { color: #097e39 } // Name.Entity
    .nn    { color: #097e39 } // Name.Namespace
    .no    { color: #a61154 } // Name.Constant
    .nt    { color: #b81e63 } // Name.Tag
    .nv    { color: #752a75 } // Name.Variable
    .vc    { color: #752a75 } // Name.Variable.Class
    .vg    { color: #752a75 } // Name.Variable.Global
    .vi    { color: #752a75 } // Name.Variable.Instance

    .o     { color: #0842a0 } // Operator
    .ow    { color: #0842a0 } // Operator.Word

    .m     { color: #005a99 } // Literal.Number
    .mf    { color: #005a99 } // Literal.Number.Float
    .mh    { color: #005a99 } // Literal.Number.Hex
    .mi    { color: #005a99 } // Literal.Number.Integer
    .il    { color: #005a99 } // Literal.Number.Integer.Long
    .mo    { color: #005a99 } // Literal.Number.Oct

    .s     { color: #914d08 } // Literal.String
    .s1    { color: #914d08 } // Literal.String.Single
    .s2    { color: #914d08 } // Literal.String.Double
    .sb    { color: #914d08 } // Literal.String.Backtick
    .sc    { color: #914d08 } // Literal.String.Char
    .sd    { color: #914d08 } // Literal.String.Doc
    .se    { color: #914d08 } // Literal.String.Escape
    .sh    { color: #914d08 } // Literal.String.Heredoc
    .si    { color: #914d08 } // Literal.String.Interpol
    .sr    { color: #009926 } // Literal.String.Regex
    .ss    { color: #0842a0 } // Literal.String.Symbol
    .sx    { color: #914d08 } // Literal.String.Other

    .w     { color: #bbbbbb } // Text.Whitespace

    .lineno, .gl { color: #9c9996 } // Line Number
    .hll   { background-color: #ffffcc } // Marked-lines
  }
}

// ---
// Dark mode
$dm-heading-color:         #bbbbbb !default;
$dm-code-background-color: #222222 !default;

$dm-brand-color:           #999999 !default;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dimmed:    darken($dm-brand-color, 8%) !default;
$dm-brand-color-dark:      darken($dm-brand-color, 43%) !default;

$dm-border-color-01:       $dm-brand-color-dark !default;
$dm-border-color-02:       $dm-brand-color-light !default;
$dm-border-color-03:       $dm-brand-color !default;

@mixin dm-highlight {
  .highlight {
    .err   { color: #e3d2d2; background-color: #8c2121 } // Error

    .c     { color: #8a8a8a } // Comment
    .c1    { color: #8a8a8a } // Comment.Single
    .cm    { color: #8a8a8a } // Comment.Multiline
    .cp    { color: #8a8a8a } // Comment.Preproc
    .cs    { color: #8a8a8a; font-style: italic }  // Comment.Special

    .gd    { color: #d85a5a } // Generic.Deleted
    .gd .x { color: #d85a5a } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gh    { color: #999999 } // Generic.Heading
    .gi    { color: #4ec64e } // Generic.Inserted
    .gi .x { color: #4ec64e } // Generic.Inserted.Specific
    .go    { color: #888888 } // Generic.Output
    .gp    { color: #555555 } // Generic.Prompt
    .gr    { color: #f07178 } // Generic.Error
    .gs    { font-weight: bold } // Generic.Strong
    .gt    { color: #f07178 } // Generic.Traceback
    .gu    { color: #aaaaaa } // Generic.Subheading

    .k     { color: #d85a7b } // Keyword
    .kc    { color: #d85a7b } // Keyword.Constant
    .kd    { color: #d85a7b } // Keyword.Declaration
    .kp    { color: #d85a7b } // Keyword.Pseudo
    .kr    { color: #d85a7b } // Keyword.Reserved
    .kt    { color: #ffcb6b } // Keyword.Type

    .n     { color: #c7d1d8 }
    .na    { color: #11a69f } // Name.Attribute
    .nb    { color: #d85a7b } // Name.Builtin
    .bp    { color: #999999 } // Name.Builtin.Pseudo
    .nc    { color: #11a69f } // Name.Class
    .ne    { color: #990000 } // Name.Exception
    .nf    { color: #5ab780 } // Name.Function
    .ni    { color: #11a69f } // Name.Entity
    .nn    { color: #11a69f } // Name.Namespace
    .no    { color: #9d99e6 } // Name.Constant
    .nt    { color: #de3581 } // Name.Tag
    .nv    { color: #9680b1 } // Name.Variable
    .vc    { color: #9680b1 } // Name.Variable.Class
    .vg    { color: #9680b1 } // Name.Variable.Global
    .vi    { color: #9680b1 } // Name.Variable.Instance

    .o     { color: #bcd890 } // Operator
    .ow    { color: #bcd890 } // Operator.Word

    .m     { color: #9d99e6 } // Literal.Number
    .mf    { color: #9d99e6 } // Literal.Number.Float
    .mh    { color: #9d99e6 } // Literal.Number.Hex
    .mi    { color: #9d99e6 } // Literal.Number.Integer
    .il    { color: #9d99e6 } // Literal.Number.Integer.Long
    .mo    { color: #9d99e6 } // Literal.Number.Oct

    .s     { color: #baa94a } // Literal.String
    .s1    { color: #baa94a } // Literal.String.Single
    .s2    { color: #baa94a } // Literal.String.Double
    .sb    { color: #baa94a } // Literal.String.Backtick
    .sc    { color: #baa94a } // Literal.String.Char
    .sd    { color: #baa94a } // Literal.String.Doc
    .se    { color: #baa94a } // Literal.String.Escape
    .sh    { color: #baa94a } // Literal.String.Heredoc
    .si    { color: #baa94a } // Literal.String.Interpol
    .sr    { color: #009926 } // Literal.String.Regex
    .ss    { color: #3c90f5 } // Literal.String.Symbol
    .sx    { color: #baa94a } // Literal.String.Other

    .w     { color: #eeffff } // Text.Whitespace

    .lineno, .gl { color: #8a8a8a } // Line Number
    .hll   { background-color: #373730 } // Marked-lines
  }
}


$heading-color: $lm-heading-color;
$code-background-color: $lm-code-background-color;

$brand-color: $lm-brand-color;
$brand-color-light: $lm-brand-color-light;
$brand-color-dimmed: $lm-brand-color-dimmed;
$brand-color-dark: $lm-brand-color-dark;

$border-color-01: $lm-border-color-01;
$border-color-02: $lm-border-color-02;
$border-color-03: $lm-border-color-03;

:root {
}
@include lm-highlight;

@media (prefers-color-scheme: dark) {
    :root {
      $heading-color: $dm-heading-color;
      $code-background-color: $dm-code-background-color;
      
      $brand-color: $dm-brand-color;
      $brand-color-light: $dm-brand-color-light;
      $brand-color-dimmed: $dm-brand-color-dimmed;
      $brand-color-dark: $dm-brand-color-dark;
      
      $border-color-01: $dm-border-color-01;
      $border-color-02: $dm-border-color-02;
      $border-color-03: $dm-border-color-03;
    }
    $code-background-color: $dm-code-background-color;
    @include dm-highlight;
}