@charset "utf-8";

// Color scheme settings

$lm-heading-color:         #111111 !default;
$lm-code-background-color: #f6f8fa !default;

$lm-brand-color:           #818181 !default;
$lm-brand-color-light:     lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dimmed:    darken($lm-brand-color, 11%) !default;
$lm-brand-color-dark:      darken($lm-brand-color, 25%) !default;

$lm-border-color-01:       $lm-brand-color-light !default;
$lm-border-color-02:       lighten($lm-brand-color, 35%) !default;
$lm-border-color-03:       $lm-brand-color-dark !default;


@mixin lm-highlight {
  .highlight {
    .err, .error              { color: #e3d2d2; background-color: #a61717 } // Error

    .c, .comment              { color: #9c9996 } // Comment
    .cm, .comment.single      { color: #9c9996 } // Comment.Multiline
    .cp, .comment.multiline   { color: #9c9996 } // Comment.Preproc
    .c1, .comment.preproc     { color: #9c9996 } // Comment.Single
    .c2, .comment.special     { color: #9c9996; font-style: italic } // Comment.Special

    .gd, .generic.deleted     { color: #e25050 } // Generic.Deleted
    .gd .x, .generic.deleted.specific   { color: #e25050 } // Generic.Deleted.Specific
    .ge, .generic.emph        { font-style: italic } // Generic.Emph
    .gh, .generic.heading     { color: #999999 } // Generic.Heading
    .gi, .generic.inserted    { color: #3f993f } // Generic.Inserted
    .gi .x, .generic.inserted.specific  { color: #3f993f } // Generic.Inserted.Specific
    .go, .generic.output      { color: #888888 } // Generic.Output
    .gp, .generic.prompt      { color: #555555 } // Generic.Prompt
    .gr, .generic.error       { color: #aa0000 } // Generic.Error
    .gs, .generic.strong      { font-weight: bold } // Generic.Strong
    .gt, .generic.traceback   { color: #aa0000 } // Generic.Traceback
    .gu, .generic.subheading  { color: #aaaaaa } // Generic.Subheading

    .k, .keyword              { color: #cf222e } // Keyword
    .kc, .keyword.constant    { color: #cf222e } // Keyword.Constant
    .kd, .keyword.declaration { color: #cf222e } // Keyword.Declaration
    .kp, .keyword.pseudo      { color: #cf222e } // Keyword.Pseudo
    .kr, .keyword.reserved    { color: #cf222e } // Keyword.Reserved
    .kt, .keyword.type        { color: #445588 } // Keyword.Type

    .n, .name                 { color: #111111 }
    .na, .name.attribute      { color: #097e39 } // Name.Attribute
    .nb, .name.builtin        { color: #cf222e } // Name.Builtin
    .bp, .name.builtin.pseudo { color: #999999 } // Name.Builtin.Pseudo
    .nc, .name.class          { color: #097e39 } // Name.Class
    .ne, .name.exception      { color: #990000 } // Name.Exception
    .nf, .name.function       { color: #2c7d74 } // Name.Function
    .ni, .name.entity         { color: #097e39 } // Name.Entity
    .nn, .name.namespace      { color: #097e39 } // Name.Namespace
    .no, .name.constant       { color: #a61154 } // Name.Constant
    .nt, .name.tag            { color: #b81e63 } // Name.Tag
    .nv, .name.variable       { color: #752a75 } // Name.Variable
    .vc, .name.variable.class { color: #752a75 } // Name.Variable.Class
    .vg, .name.variable.global    { color: #752a75 } // Name.Variable.Global
    .vi, .name.variable.instance  { color: #752a75 } // Name.Variable.Instance

    .o, .operator             { color: #0842a0 } // Operator
    .ow, .operator.word       { color: #0842a0 } // Operator.Word

    .m, .number               { color: #005a99 } // Literal.Number
    .mf, .number.float        { color: #005a99 } // Literal.Number.Float
    .mh, .number.hex          { color: #005a99 } // Literal.Number.Hex
    .mi, .number.integer      { color: #005a99 } // Literal.Number.Integer
    .il, .number.integer.long { color: #005a99 } // Literal.Number.Integer.Long
    .mo, .number.oct          { color: #005a99 } // Literal.Number.Oct

    .s, .string               { color: #914d08 } // Literal.String
    .s1, .string.single       { color: #914d08 } // Literal.String.Single
    .s2, .string.double       { color: #914d08 } // Literal.String.Double
    .sb, .string.backtick     { color: #914d08 } // Literal.String.Backtick
    .sc, .string.char         { color: #914d08 } // Literal.String.Char
    .sd, .string.doc          { color: #914d08 } // Literal.String.Doc
    .se, .string.escape       { color: #914d08 } // Literal.String.Escape
    .sh, .string.heredoc      { color: #914d08 } // Literal.String.Heredoc
    .si, .string.interpol     { color: #914d08 } // Literal.String.Interpol
    .sr, .string.regex        { color: #009926 } // Literal.String.Regex
    .ss, .string.symbol       { color: #0842a0 } // Literal.String.Symbol
    .sx, .string.other        { color: #914d08 } // Literal.String.Other

    .w, .text.whitespace      { color: #bbbbbb } // Text.Whitespace

    .lineno, .gl              { color: #9c9996 } // Line Number
    .hll                      { background-color: #ffffcc } // Marked-lines
  }
}

// ---
// Dark mode
$dm-heading-color:         #bbbbbb !default;
$dm-code-background-color: #222222 !default;

$dm-brand-color:           #999999 !default;
$dm-brand-color-light:     lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dimmed:    darken($dm-brand-color, 8%) !default;
$dm-brand-color-dark:      darken($dm-brand-color, 43%) !default;

$dm-border-color-01:       $dm-brand-color-dark !default;
$dm-border-color-02:       $dm-brand-color-light !default;
$dm-border-color-03:       $dm-brand-color !default;

@mixin dm-highlight {
  .highlight {
    .err, .error              { color: #e3d2d2; background-color: #8c2121 } // Error

    .c, .comment              { color: #8a8a8a } // Comment
    .cm, .comment.single      { color: #8a8a8a } // Comment.Single
    .cp, .comment.multiline   { color: #8a8a8a } // Comment.Multiline
    .c1, .comment.preproc     { color: #8a8a8a } // Comment.Preproc
    .c2, .comment.special     { color: #8a8a8a; font-style: italic }  // Comment.Special

    .gd, .generic.deleted     { color: #d85a5a } // Generic.Deleted
    .gd .x, .generic.deleted.specific   { color: #d85a5a } // Generic.Deleted.Specific
    .ge, .generic.emph        { font-style: italic } // Generic.Emph
    .gh, .generic.heading     { color: #999999 } // Generic.Heading
    .gi, .generic.inserted    { color: #4ec64e } // Generic.Inserted
    .gi .x, .generic.inserted.specific  { color: #4ec64e } // Generic.Inserted.Specific
    .go, .generic.output      { color: #888888 } // Generic.Output
    .gp, .generic.prompt      { color: #555555 } // Generic.Prompt
    .gr, .generic.error       { color: #f07178 } // Generic.Error
    .gs, .generic.strong      { font-weight: bold } // Generic.Strong
    .gt, .generic.traceback   { color: #f07178 } // Generic.Traceback
    .gu, .generic.subheading  { color: #aaaaaa } // Generic.Subheading

    .k, .keyword              { color: #d85a7b } // Keyword
    .kc, .keyword.constant    { color: #d85a7b } // Keyword.Constant
    .kd, .keyword.declaration { color: #d85a7b } // Keyword.Declaration
    .kp, .keyword.pseudo      { color: #d85a7b } // Keyword.Pseudo
    .kr, .keyword.reserved    { color: #d85a7b } // Keyword.Reserved
    .kt, .keyword.type        { color: #ffcb6b } // Keyword.Type

    .n, .name                 { color: #c7d1d8 }
    .na, .name.attribute      { color: #11a69f } // Name.Attribute
    .nb, .name.builtin        { color: #d85a7b } // Name.Builtin
    .bp, .name.builtin.pseudo { color: #999999 } // Name.Builtin.Pseudo
    .nc, .name.class          { color: #11a69f } // Name.Class
    .ne, .name.exception      { color: #990000 } // Name.Exception
    .nf, .name.function       { color: #5ab780 } // Name.Function
    .ni, .name.entity         { color: #11a69f } // Name.Entity
    .nn, .name.namespace      { color: #11a69f } // Name.Namespace
    .no, .name.constant       { color: #9d99e6 } // Name.Constant
    .nt, .name.tag            { color: #de3581 } // Name.Tag
    .nv, .name.variable       { color: #9680b1 } // Name.Variable
    .vc, .name.variable.class { color: #9680b1 } // Name.Variable.Class
    .vg, .name.variable.global    { color: #9680b1 } // Name.Variable.Global
    .vi, .name.variable.instance  { color: #9680b1 } // Name.Variable.Instance

    .o, .operator             { color: #bcd890 } // Operator
    .ow, .operator.word       { color: #bcd890 } // Operator.Word

    .m, .number               { color: #9d99e6 } // Literal.Number
    .mf, .number.float        { color: #9d99e6 } // Literal.Number.Float
    .mh, .number.hex          { color: #9d99e6 } // Literal.Number.Hex
    .mi, .number.integer      { color: #9d99e6 } // Literal.Number.Integer
    .il, .number.integer.long { color: #9d99e6 } // Literal.Number.Integer.Long
    .mo, .number.oct          { color: #9d99e6 } // Literal.Number.Oct

    .s, .string               { color: #baa94a } // Literal.String
    .s1, .string.single       { color: #baa94a } // Literal.String.Single
    .s2, .string.double       { color: #baa94a } // Literal.String.Double
    .sb, .string.backtick     { color: #baa94a } // Literal.String.Backtick
    .sc, .string.char         { color: #baa94a } // Literal.String.Char
    .sd, .string.doc          { color: #baa94a } // Literal.String.Doc
    .se, .string.escape       { color: #baa94a } // Literal.String.Escape
    .sh, .string.heredoc      { color: #baa94a } // Literal.String.Heredoc
    .si, .string.interpol     { color: #baa94a } // Literal.String.Interpol
    .sr, .string.regex        { color: #009926 } // Literal.String.Regex
    .ss, .string.symbol       { color: #3c90f5 } // Literal.String.Symbol
    .sx, .string.other        { color: #baa94a } // Literal.String.Other

    .w, .text.whitespace      { color: #eeffff } // Text.Whitespace

    .lineno, .gl              { color: #8a8a8a } // Line Number
    .hll                      { background-color: #373730 } // Marked-lines
  }
}
